@model DrawTogether.Site.ApplicationLayer.Draw.IndexModel

@{
    ViewBag.Title = Model.WhiteboardName;
}

<h2>@ViewBag.Title</h2>
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <canvas id="canvas" width="@Model.WhiteboardWidth" height="@Model.WhiteboardHeight"
                    style="background: white"></canvas>
        </div>
        <div id="usersList" class="col-md-2">
            <strong>@Model.UserName</strong><br />
            @foreach (var userName in Model.AttachedUserNames) {
                @userName<br />
            }
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.0.min.js", "~/signalr/hubs", "~/Scripts/Views/DrawView.js")
    <script>
        $(function () {
            $.connection.hub.qs = { 'id': '@Model.WhiteboardId', 'user': '@Model.UserName' }
            $.connection.hub.logging = true;
            $.connection.hub.error(function (error) {
                console.log('SignalR error: ' + error)
            });

            var hub = $.connection.drawHub;
            var view = new DrawView(hub, @Model.WhiteboardId, '@Model.UserName');

            hub.client.notifyUserAttached = function (userName) {
                view.attachUser(userName);
            }

            hub.client.notifyUserDetached = function (userName) {
                console.log("notifyUserDetached");
                view.detachUser(userName);
            }

            hub.client.notifyFigureAdded = function (figure) {
                view.addFigure(figure);
            }

            $.connection.hub.start().done(function () {
                view.redraw();
            });
        });
    </script>
}
